* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fancy-nav-box {
  margin-bottom: -6px;
  margin-bottom: 100px;
}
.fancy-box {
  margin-top: 0px;
}
.Sprts-box {
  margin-top: 0px;
}
.fancy-nav-box ul .react-tabs__tab--selected {
  border-radius: 4px;
  background-color: white;
}
.fancy-nav-box .react-tabs__tab-list {
  background-color: #84bac1;
  padding: 0px 2px;
  width: 100%;
  display: flex;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
  gap: 10px;
}
.fancy-nav-box ul li {
  margin: 0;
  background-color: transparent;
  color: black;
  font-size: 12px;
  width: auto;
  padding: 0px 10px;
  height: 18px;
}
.tabin1 {
  width: 100%;
  height: 1000px;
}
.navs-box {
  width: 98.3%;
  background-image: linear-gradient(180deg, #0a92a5 15%, #076875 100%);
  height: 32px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -6px;
  padding: 3px 0px;
}
.navs-box .react-tabs__tab-list {
  margin-left: 0px;
  background-color: #84bac1;
  padding: 3px 0px;
  display: flex;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;
  gap: 20px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.navs-box .react-tabs__tab--selected {
  box-shadow: none;
}
.navs-box .react-tabs__tab {
  margin: 0px;
  background-color: transparent;
}
.navs-box li {
  color: black;
  font-size: 12.5px;
  width: auto;
  padding: 0px 5px;
}
.navs-box .react-tabs__tab--selected {
  border-radius: 3px;
  background-color: white;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .navs-box .react-tabs__tab-list {
    gap: 0px;
    padding: 0px 0px;
  }
  .winner-main-box {
    width: 100%;
  }
  .winner-main-box .mix {
    justify-content: right;
  }

  .winner-main-box {
    margin: -2px;
  }

  .navs-box {
    border-radius: 4px;
    overflow: hidden;
    height: 22px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 5px;
    background-image: none;
    padding: 0px;
  }
  .navs-box .react-tabs__tab-list {
    /* padding-top: 6px; */
    width: auto;
    overflow: auto;
  }
  .react-tabs {
    height: 28px;
  }
  .navs-box .react-tabs__tab {
    font-size: 10px;
  }
  .fancy-main-box {
    margin-top: 10px;
  }
  .book-btn-box .book-btn {
    display: none;
  }
}
