@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.highlights2{
  background-color: #16abaa;
  margin-left: 311px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  padding-left: 20px;
}
::-webkit-scrollbar {
  width: 0px;
 
}



